<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    {% block title %} avatar {% endblock %}
</title>

<link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon.ico') }}">

</head>

<body>

<p id="email">
    {% if request.user.email %}{{ request.user.email }}{% endif %}
</p>

<?xml version="1.0" encoding="UTF-8"?>
<svg width="582" height="402" version="1.1" xmlns="http://www.w3.org/2000/svg">
 <g>
  <title>avatar</title>
  <rect id="canvas_background" x="-1" y="-1" width="584" height="404" fill="#fff"/>
  <g id="canvasGrid" display="none">
   <rect x="1" y="1.1" width="580" height="400" fill="url(#gridpattern)" stroke-width="0"/>
  </g>
 </g>
 <g>
  <title>Layer 1</title>
  <g stroke="#000" stroke-width="1.5">
   <rect x="1.5" y=".75" width="200" height="190" fill="{{ i[0] }}"/>
   <rect x="406.5" y="5.75" width="175" height="183" fill="{{ i[1] }}"/>
   <rect x="204.5" y="4.75" width="199" height="186" fill="{{ i[2] }}"/>
   <rect x="2.5" y="190.75" width="198" height="207" fill="{{ i[3] }}"/>
   <rect x="204.5" y="195.75" width="200" height="205" fill="{{ i[4] }}"/>
   <rect x="398.5" y="196.75" width="180" height="200" fill="{{ i[5] }}"/>
  </g>
 </g>
</svg>


</body>

</html>