<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <div class="container-fluid">
        <img
            src="{{ url_for('static', path='images/starlette__short_logo__dark.svg') }}"
            alt="logo"
            height="32"
        />
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-expanded="false"
                        >&</a
                    >
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/account/list"
                                >user</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/list/">item</a>
                        </li>
                    </ul>
                </li>

                {# #}
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        products
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/products/list"
                                >all products list</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/products/list-prv"
                                >prv products list</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        purchases
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/purchases/list"
                                >purchases list</a
                            >
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <span class="dropdown-item">
                            {% if request.user.email %}
                            <i class="bi bi-person-check"></i>
                            <sup>{{request.user.email}}</sup>
                            {% endif %}
                            {% if request.prv.prv_key %}
                            <sup>{{ request.prv.prv_key}}</sup>
                            {% endif %}
                            </span>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/account/register">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">register</sup>
                            </a>
                        </li>

                        {% if not request.user.email and not request.prv.prv_key %}
                        <li class="bg-success-subtle">
                            <a class="dropdown-item" href="/account/login">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">login</sup>
                            </a>
                        </li>
                        {% endif %}

                        <hr class="dropdown-divider" />

                        {% if request.user.email %}
                        <li class="bg-danger-subtle">
                            <a class="dropdown-item" href="/account/logout">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">logout</sup>
                            </a>
                        </li>
                        {% endif %}

                        {% if not request.user.email and not request.prv.prv_key %}
                        <li class="bg-success-subtle">
                            <a class="dropdown-item" href="/privileged/login">
                                <sup class="ms-2">privileged login</sup>
                            </a>
                        </li>
                        {% endif %}
                        {% if request.prv.prv_key %}
                        <li class="bg-danger-subtle">
                            <a class="dropdown-item" href="/privileged/logout">
                                <sup class="ms-2">privileged logout</sup>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

            {% if request.prv.prv_key %}
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        to create
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/item/create"
                                >item create</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/products/create"
                                >products create</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/item/purchases/create"
                                >purchases create</a
                            >
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                    </ul>
                </li>
            </ul>
            {% endif %}
            <form class="d-flex" action="/item/search/">
                <input
                    class="form-control me-2"
                    name="query"
                    type="search"
                    placeholder="search to item"
                    aria-label="search"
                />
                <button class="btn btn-outline-success" type="submit">
                    search
                </button>
            </form>
        </div>

    </div>
</nav>
