
{% extends "base.html" %}
{% block title %} list user {% endblock %}

{% block content %}

<h1 class="lead my-3">list user..</h1>

<div class="flex_start">
{% if result %}
{% for i in result %}

<div class="card mt-2 me-1">

    <ul class="card-header list-group list-group-horizontal">
        <li class="list-group-item pt-3">
            <sup class="float-start">id:</sup>
            <span>{{ i.id }}</span>
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">name:</sup>
            <span>{{ i.name }}</span>
        </li>
    </ul>

    <ul class="list-group list-group-flush">
        <li class="list-group-item pt-3">
            <sup class="float-start">email:</sup>
            <p>{{ i.email }}</p>
        </li>
        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item pt-3">
                <sup class="float-start">email_verified:</sup>
                <span>{{ i.email_verified }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">is_active:</sup>
                <span>{{ i.is_active }}</span>
            </li>
        </ul>
        <ul class="card-header list-group list-group-horizontal">
            <li class="list-group-item pt-3">
                <sup class="float-start">privileged:</sup>
                <span>{{ i.privileged }}</span>
            </li>
            <li class="list-group-item pt-3">
                <sup class="float-start">is_admin:</sup>
                <span>{{ i.is_admin }}</span>
            </li>
        </ul>

        <li class="list-group-item pt-3">
            <sup class="float-start">user_item: {{ i.user_item | length }}</sup>
            {% for r in i.user_item %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_rent: {{ i.user_rent | length }}</sup>
            {% for r in i.user_rent %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_service: {{ i.user_service | length }}</sup>
            {% for r in i.user_service %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_cmt: {{ i.user_cmt | length }}</sup>
            {% for r in i.user_cmt %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_group: {{ i.user_group | length }}</sup>
            {% for r in i.user_group %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_chat: {{ i.user_chat | length }}</sup>
            {% for r in i.user_chat %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">one_chat: {{ i.one_chat | length }}</sup>
            {% for r in i.one_chat %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_one_one: {{ i.user_one_one | length }}</sup>
            {% for r in i.user_one_one %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_participant: {{ i.user_participant | length }}</sup>
            {% for r in i.user_participant %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_rrf: {{ i.user_rrf | length }}</sup>
            {% for r in i.user_rrf %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_rsf: {{ i.user_rsf | length }}</sup>
            {% for r in i.user_rsf %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_sch_r: {{ i.user_sch_r | length }}</sup>
            {% for r in i.user_sch_r %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_sch_s: {{ i.user_sch_s | length }}</sup>
            {% for r in i.user_sch_s %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>
        <li class="list-group-item pt-3">
            <sup class="float-start">user_dump_s: {{ i.user_dump_s | length }}</sup>
            {% for r in i.user_dump_s %}
            <span>{{ r.id }}, </span>
            {% endfor %}
        </li>

        {% include "created_modified.html" %}
    </ul>

    {% if i.file %}
    <figure>
    <img width="120" class="shadow-sm m-2" src="{{ i.file }}" alt="img">
    </figure>
    {% endif %}

    <div class="card-footer">
        <a class="btn btn-outline-primary btn-sm" href="/account/details/{{ i.id }}" role="button">view details &raquo;</a>
    </div>

</div>

{% endfor %}

    {% else %}
    <span class="mt-5">no information available</span>
{% endif %}
</div>

{% endblock %}